#landingpage {
	z-index: 10;
	height:100%;
	position: absolute;
/*	background-color: #FFCCCC;*/
	background-color: #fff;
	overflow: hidden;
	scroll-behavior: none;
}

.gray{
	background-color: #333;
	height: 100%;
}

h1 {

font-size: 3em;
color: #fff;
margin-bottom: 0em;
margin-top: 2.5em;
margin-left: .4em;
margin-right: .4em;
line-height: 1em;
}

h2{

font-size: 1.3em;
color: #747474;
margin-top: 0.5em;
margin-left: 1.3em;
font-weight:500; 
}

p {

font-size: 1.05em;
font-weight: 300;
line-height: 1.3em;
margin-top: 0em;
margin-bottom: 0.1em;
color: #333;

}

.bold{
font-weight: 800;
}

.bolder{
	color: #fff;
	font-weight: 900;
}



.paragraph{
	margin-bottom: .8em;

}




.instructions {

	margin-left: 2em;
	margin-top:14.5em;
	overflow: scroll;
}

h3{
	font-size: 1.2em;
	font-weight: 800;
	margin-top: 0.24em;
	margin-bottom: 0.24em;
	color: #000;
}

h3:hover{
	transition-duration: .1s;
	font-size: 1.4em;
	margin-left: -.13em;
	margin-top: .15em;
	cursor: pointer; 
}


h4{
	font-size: 1.2em;
	font-weight: 800;
	margin-top: 0.24em;
	margin-bottom: 0.24em;
	color: #000;
}

h4:hover{
	transition-duration: .1s;
	color: #666;
}



